
h1 {
        background-color: rgba(48, 46, 46, 0.427);
        font-size: 50px;
}
    #corazulescuro {
        background-color: rgba(0, 136, 255, 0.679);
        font-size: 35px;
}
    #corvermelha {
        background-color: rgba(255, 68, 0, 0.73);
        color: rgb(255, 0, 43);
}

p.destaque {
background-color: gray;
}

#cabecalho{

}

#conteudo ul li a {

}

.destaque {
    font-size: 20px;
}

.mensagem.destaque{
     
}