h2{
    background-color: rgba(0, 255, 170, 0.611);
}
    h1 {
        background-color: rgba(0, 255, 170, 0.611);
    }
    #corazulescuro {
        background-color: rgba(0, 255, 170, 0.611);
    }
    #corvermelha {
        background-color: rgba(0, 255, 170, 0.611);
    }